$color-bg-layout: #F5F5F5;
$color-bg-container: #FFFFFF;
$color-primary: #1677FF;
$color-container-disabled: #0000000A;
$color-border-disabled: #D9D9D9;
$color-border-active: #1677FF;
$color-border: #00000026;
$color-text-disabled: #00000040;
$color-text-primary: #FFFFFF;