@import "../../styles/colors";
@import "../../styles/margins";

$border-radius: 6px;
$content-width: 440px;

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-bg-layout;
}

.content {
	width: $content-width;
	padding: $margin-xl;
	border-radius: $border-radius;
	background-color: $color-bg-container;
}
